<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <header class="not-top-img" id="page-header">
        <nav id="nav" class="show">
            <div id="nav_group">
                <div class="nav_left">
                    <div id="list-button"> <i class="fas fa-grip-vertical"></i>
                        <th:block th:if="${theme.config.header.leftList != null}">

                        <div id="list-content">
                            <th:block th:each="leftList : ${theme.config.header.leftList}"
                                      th:with="menu = ${menuFinder.getByName(leftList.menu)}">
                                <th:block th:with="menuItems = ${menu.menuItems}">
                            <div class="tips">[[${leftList.name}]]</div>
                            <div class="list-box">
                                <th:block th:each="menuItem : ${menuItems}">
                                <a class="list-item" target="_blank" rel="noopener" th:href="@{${menuItem.status.href}}">
                                    <th:block th:utext="${#annotations.get(menuItem, 'icon')}"></th:block>
                                    <span>[[${menuItem.status.displayName}]]</span>
                                </a>
                                </th:block>

                            </div>
                                </th:block>
                            </th:block>
                        </div>

                        </th:block>
                    </div><a id="site-name" th:href="${site.url}" title="博客首页" data-pjax-state=""><span>[[${theme.config.header.topName ?: site.title}]]</span><i class="fas fa-home fa-fw"></i></a></div>
                <div id="page_title"> <a href="javascript:;" rel="noopener external nofollow" onclick="btf.scrollToDest(0, 500)" title="返回顶部" data-pjax-state="">[[${theme.config.header.topName_after ?: site.title}]]</a></div>
                <div class="menus_items" th:with="menu = ${menuFinder.getByName(theme.config.header.menuItem)}">
                    <th:block th:with="menuItems = ${menu.menuItems}">
                        <div class="menus_item" th:each="menuItem : ${menuItems}">

                            <a class="site-page group hide" th:href="@{${menuItem.status.href}}" rel="noopener external nofollow" data-pjax-state="">
                                <i class="fa-fw fa-solid fa-book"></i>
                                <span> [[${menuItem.status.displayName}]]</span>
                                <i class="fas fa-chevron-down"></i></a>
                            <th:block th:if="${not #lists.isEmpty(menuItem.children)}">
                                <ul class="menus_item_child">
                                    <li th:each="childMenu : ${menuItem.children}">
                                        <a class="site-page child" th:href="@{${childMenu.status.href}}" data-pjax-state="">
                                            <th:block th:utext="${#annotations.get(childMenu, 'icon')}"></th:block>
                                            <span> [[${childMenu.status.displayName}]]</span>
                                        </a>
                                    </li>

                                </ul>
                            </th:block>
                        </div>
                    </th:block>
                </div>
                <div id="buttons">
                    <div id="travellings"><a class="site-page social-icon search" target="_blank" href="https://travellings.link" rel="noopener external nofollow" title="开往 - 随机跳转到另一个加入开往的网页"><i class="fas fa-subway fa-fw"></i></a></div>
                    <!--              <div id="randomPost"><a class="site-page social-icon search" href="javascript:;" rel="noopener external nofollow" onclick="leonus.randomPost()" title="随便看看 - 随机访问一篇本站文章" data-pjax-state=""><i class="fas fa-splotch fa-fw"></i></a></div>-->
                    <div id="changeBg"><a class="site-page social-icon search" href="javascript:;" rel="noopener external nofollow" onclick="leonus.toggleWinbox()" title="切换背景 - 换一个背景，换一种感觉。" data-pjax-state=""><i class="fas fa-image fa-fw"></i></a></div>
                    <th:blockb th:if="${pluginFinder.available('PluginSearchWidget')}">
                    <div><a class="site-page social-icon search" title="搜索内容 - 搜一搜，省时又省力。" href="javascript:SearchWidget.open()" data-pjax-state=""><i class="fas fa-search fa-fw"></i></a></div>
                    </th:blockb>
                    <div id="switch-bg"><a class="site-page social-icon" onclick="leonus.switchDarkMode()" title="切换模式 - 日夜交替，黑白互换。" data-pjax-state=""><i class="fas fa-moon fa-fw"></i></a></div>
                    <div id="toggle-menu"><a class="site-page" title="打开菜单" data-pjax-state=""><i class="fas fa-align-justify fa-fw"></i></a></div>
                </div>
            </div>
        </nav>
    </header>

</th:block>
</html>